{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 100,
	"plugins": ["prettier-plugin-svelte"],
	"plugin-search-dir": ["."],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
