:root {
	/* Font settings */
	--font-title: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,
		Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
	--font-text: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,
		Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
	--font-accent: Dank Mono, Operator Mono, Inconsolata, Fira Mono, ui-monospace, SF Mono, Monaco,
		Droid Sans Mono, Source Code Pro, monospace;
	--font-code: Dank Mono, Operator Mono, Inconsolata, Fira Mono, ui-monospace, SF Mono, Monaco,
		Droid Sans Mono, Source Code Pro, monospace;

	/* Font rythm */
	--font-weight-bold: 700;
	--font-size-base: 1.25rem;
	--font-line-height: 1.75;

	/* Spacing */
	--gap-quarter: 0.25rem;
	--gap-half: 0.5rem;
	--gap: 1rem;
	--gap-2: 1.5rem;
	--gap-3: 2rem;

	/* z-index simplified */
	--layer-1: 1;
	--layer-2: 2;
	--layer-3: 3;
	--layer-4: 4;
	--layer-5: 5;
	--layer-important: 2147483647;
}
