name: 'Comment Changed URLs on Deploy'

on:
  deployment_status:

jobs:
  comment-on-deploy:
    name: Comment changed URLs on deploy
    if: ${{ github.event.deployment_status.state == 'success' && !github.event.deployment.production_environment }}
    uses: ./.github/workflows/comment-changed-sveltekit-urls.yml
    with:
      review_url: ${{ github.event.deployment_status.environment_url }}
      prod_url: 'https://svelper.com'
