name: 'PR'

on:
  pull_request:
    branches: ['main']
  deployment_status:

jobs:
  lint:
    name: Lint & Check
    if: ${{ github.event_name == 'pull_request' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build
      - name: Lint
        run: npm run lint
      - name: Check
        run: npm run check

  dependency-review:
    name: Dependency review
    if: ${{ github.event_name == 'pull_request' }}
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout Repository'
        uses: actions/checkout@v6
      - name: 'Dependency review'
        uses: actions/dependency-review-action@v4

  comment-changed-urls:
    name: Comment changed URLs
    # Only run on successful non-production deployments (i.e., PR preview deployments)
    if: ${{ github.event_name == 'deployment_status' && github.event.deployment_status.state == 'success' && !github.event.deployment.production_environment }}
    uses: ./.github/workflows/comment-changed-sveltekit-urls.yml
    with:
      review_url: ${{ github.event.deployment_status.environment_url }}
      prod_url: 'https://svelper.com'
      commit_sha: ${{ github.event.deployment.sha }}
