name: 'PR'

on:
  pull_request:
    branches: ['main']

jobs:
  lint:
    name: Lint & Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build
      - name: Lint
        run: npm run lint
      - name: Check
        run: npm run check

  dependency-review:
    name: Dependency review
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout Repository'
        uses: actions/checkout@v6
      - name: 'Dependency review'
        uses: actions/dependency-review-action@v4

  changed-paths:
    name: Changed URLs
    uses: ./.github/workflows/changed-sveltekit-paths.yml

  comment-changed-paths:
    name: Post comment with changed URLs
    runs-on: ubuntu-latest
    needs: changed-paths
    permissions:
      pull-requests: write
    steps:
      - name: Format message
        id: format-message
        uses: actions/github-script@v7
        with:
          script: |
            const paths = `${{ needs.changed-paths.outputs.pathsChanged }}`.split('\n').filter(p => p.trim());
            if (paths.length === 0) {
              core.setOutput('message', '# No SvelteKit paths affected\nNo pages were affected by the changes in this PR.');
              return;
            }
            const message = [
              '# URLs updated',
              'URLs affected by changes in this PR:',
              ...paths.map(path => `- https://svelper.com${path}`),
            ].join('\n');
            core.setOutput('message', message);
      - name: Comment changed URLs
        uses: mshick/add-pr-comment@v2
        with:
          message: |
            ${{ steps.format-message.outputs.message }}
